.player{
    -fx-fill: lightgreen;
    -fx-stroke : grey;
}

.enemy {
    -fx-fill: pink;
    -fx-stroke: grey;
}

#midland {
    -fx-fill: grey;
}

#player:hover {
    -fx-fill: darkgreen;
}

#warning {
    -fx-text-fill:red;
}